/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  margin-top: 15rem;
}

.nav-link:hover {
  background-color: #e1effc;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

svg { 
  cursor: pointer; 
}

.header-container {
  color: black;
}

.right-arrow {
  float: right;
}

.btn-col {
  display: flex;
  float: right;
}

.right-btn-group {
  float: right;
}

.header-btn {
  font-size: 14px;
  height: 36px;
}

button {
  background-color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
}

button:hover {
  transform: scale(1.05);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.board-container {
  padding: 50px;
  margin-bottom: 13rem;
}

.card-container {
  width: 252px;
  padding: 10px;
  margin: 5px;
  margin-right: 45px;
  background-color: #e1effc;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  overflow-y: scroll; 
  height: 400px;
  color: black;
}

.card{
  margin: 5px;
  /* border: 1px solid #ccc; */
  background-color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  padding: 10px;
}

.card-column-header{
  font-size: 18px;
}

.column-drag-handle {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.Modal {
  color: black;
}